.box-feature {
	
	.box-content-wrap {
		
		.box-header-wrap {
			text-align: center;

			.box-header-icon {
				font-size: 3em;
			}

			.box-header-title {
				font-size: $font-size-3;
				font-family: $font-heading;
				margin: 1em 0;
			}
		}
	}
}
