$path-font-roboto: "../fonts/roboto" !default;

@font-face {
  font-family: 'roboto-black';
  src: url('#{$path-font-roboto}/Roboto-Black.eot}');
  src: url('#{$path-font-roboto}/Roboto-Black.eot') format('embedded-opentype'),
    url('#{$path-font-roboto}/Roboto-Black.woff') format('woff'),
    url('#{$path-font-roboto}/Roboto-Black.ttf') format('truetype'),
    url('#{$path-font-roboto}/Roboto-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-light';
  src: url('#{$path-font-roboto}/RobotoSlab-Light.eot}');
  src: url('#{$path-font-roboto}/RobotoSlab-Light.eot') format('embedded-opentype'),
    url('#{$path-font-roboto}/RobotoSlab-Light.woff') format('woff'),
    url('#{$path-font-roboto}/RobotoSlab-Light.ttf') format('truetype'),
    url('#{$path-font-roboto}/RobotoSlab-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}