.frm-message {
    width: 470px;
    background-color: $color-primary;
    border: 10px solid $color-primary;
    margin: 0 auto;
}

input[type="submit"], input[type="button"], button, select, .btn {
    background-color: $color-secondary-d;
    color: $color-primary;
    border: none;
    font-family: roboto-black;
}

input[type="submit"]:hover, input[type="button"]:hover, button:hover, .btn:hover {
    background-color: $color-secondary;
    color: $color-secondary-d;
    box-shadow: 0 0 5px $color-secondary-d;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    padding: 2%;
    width: 95%;
}






/*
form {
  padding:0px 20px;
}

form ul li {
  margin:5px auto;
  height:auto;
}

form ul li p,  ul li p {
  color:#454545;
  font-family: roboto-light;
  text-align:center;
}

label {
  text-align:left;
  color:#656260;
  font-family: roboto-light;
  font-size:14px;
  margin:5px 0px;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  text-align: left;
  margin:0 auto;
  background-color:#f2f2f2;
  border:none;
  padding:7px 15px;
  width:88%;
  font-family: roboto-light;
  font-size:14px;
  color:#656260;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    box-shadow: 0 0 5px $shadow-default;
}

input[type="submit"], input[type="button"], button, select, .btn {
    background-color: $color-back-btn;
    color: $color-btn-text;
    border:none;
    font-family: roboto-black;
    margin:20px auto 10px;
}

input[type="submit"]:hover, input[type="button"]:hover, button:hover, .btn:hover {
    background-color: $color-btn-hover;
    box-shadow: 0 0 5px $color-btn-hover;
}

.form-background input[type="submit"], input[type="button"], button, select, .btn {
  width:190px;
  margin:30px auto 0px;
}

.form-background form {
  width:280px;
}

textarea  {
  text-align:left;
}
*/