// Paragraphs
p {
    font-family: roboto-light;
    text-align: justify;
    line-height: 22px;
    font-size: 14px;
    color: $color-secondary-d;
}

// Site Quotes
.quote {
  margin: 50px auto;
  background-color: $color-quote-bkg;
  padding: 20px 0px;
}

.quote h1 {
    color: $color-quote-heading;
    font-family: roboto-light;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
    text-shadow: 1px -4px 5px $color-secondary-d;
}