/**********************************************************************
Description: The basic styles for CMGTools.
Dependencies: variables, variables-ext, mixins
***********************************************************************/

// Clearfix
.clearfix {
    @extend %clearfix;
}

// Floating

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.no-float {
    float: none;
}

.no-float-center {
    float: none;
    margin: 0 auto;
}

// Alignment

.align-left {
    text-align: left;
}

.align-middle {
    text-align: center;
}

.align-right {
    text-align: right;
}

// Max Area Cover - The element overlays all other child elements of it's parent unless the other child got greater z-index. 
// The parent must use position style. Initially it's set to hidden and can be made visible when required. most useful example is
// having a full cover with spinner on top of all other elements. 
.max-area-cover {
    @include max-area-transparent;
    text-align: center;
    color: $color-primary-text;
    z-index: 1000000;
    display: none;
}

// Visibility - Without having own space

.visible {
    display:block;
}

.hidden {
    display:none;
}

// Visibility - Hidden/Displayed having own space

.visible-space {
    visibility: visible;
}

.hidden-space {
    visibility: hidden;
}

// Fluid Elements (blocks, images)

.fluid {
    max-width: 100%;
    height: auto;
}

.width-auto {
    width: auto;
}

// Messages - Most probably used for form and ajax processing

.warning, .error, .success {
    display: inline-block;
    width: 100%;
    font-size: $font-size-8;
}

.error {
    color: $color-error;
}

.warning {
    color: $color-warning;
}

.success {
    color: $color-success;
}

// Header Blocks - Can be used for dialogs, content boxes

.header-error {
    background-color: $color-error;
    color: $color-primary-text;
}

.header-warning {
    background-color: $color-warning;
    color: $color-primary-text;
}

.header-success {
    background-color: $color-success;
    color: $color-primary-text;
}

// Textures
%textures {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include bkg-with-tile;
}

.texture-default {
    @extend %textures;
    background-image: url( $images-path + "texture-default.png" );
}