// Breadcrumb

.breadcrumb {
    list-style: none;

    li {
        display: inline-block; 
    }

    a {
        display: inline-block;      
    }
}

// Popup

.popup {
    display:none; 
    background:#FFFFFF;
    border:2px solid gray; 
    -moz-box-shadow: 0 0 5px black;
    -webkit-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    border-radius: 12px; 
}

.popup-title {
    width: 100%;
    background-color: #00133C;
    color: white;
    font-weight: bold;  
    font-size: 1.1em;
    height: 30px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.popup-title-text {
    padding-left: 10px;
}

.popup-elements {
    padding: 10px;
}

.popup-elements ul {
    padding: 0px;
}

.popup-small { 
    height:200px;  
    width:400px;  
}

.popup-medium { 
    height:300px;  
    width:600px;  
}

.popup-large {
    height:400px;  
    width:800px;  
}

.close-popup {
    font-size:20px; 
    right:0px;  
    top:3px;  
    position:absolute;  
    color:#6fa5e2;  
    font-weight:500;
    width: 25px;
    height: 25px; 
    background-image: url( $images-path + "icons/close.png" );
    background-size: cover;
}