/**********************************************************************
Description: It defines the form elements styles for CMGTools.
Dependencies: variables, mixins
***********************************************************************/

// Form
form {
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;

    input[type="submit"] {
        margin: 10px 0;
    }
}

// Fixed width forms
.frm-small {
    width: 250px;
    position: relative;
}

.frm-medium {
    width: 450px;
    position: relative;
}

// Labels
label {
    border: none;
    box-shadow: none;
    font-size: 1em;
    width: 99%;
    margin: 0.5%;
    display: inline-block;
}

// Input Fields

%input-style {
    vertical-align: middle;
    font-size: normal;
    line-height: normal;
    padding: 1%;
    margin: 0.5%;
    outline: none;
    border: $border-default;
    box-shadow: none;
    font-size: 1em;
    line-height: 1em;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    @extend %input-style;
    @include transit-all( $transit-eio, $transit-time-small );
    background-color: $color-secondary;
    color: $color-secondary-text;
    text-align: left;
    width: 97%;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    box-shadow: 0 0 5px $shadow-color-default;
}

input[type="text"].error-field, input[type="email"].error-field, input[type="password"].error-field, textarea.error-field, select.error-field {
    border: 1px solid $color-error;
    box-shadow: 0 0 5px $shadow-color-error;
}

// Submit Buttons

input[type="submit"], input[type="button"], button, select, .btn {
    @extend %input-style;
    @include transit-all( $transit-eio, $transit-time-small );
    width: 99%;
    background-color: $color-primary;
    color: $color-primary-text;
    text-align: center;
}

input[type="submit"]:hover, input[type="button"]:hover, button:hover, .btn:hover {
    background-color: $color-tertiary;
    color: $color-tertiary-text;
    box-shadow: 0 0 5px $color-tertiary-d;
}

.btn {
    display: inline-block;
}

input[type="submit"], input[type="button"], button, .btn {

    &.btn-small {
        width: 120px;
    }

    &.btn-medium {
        width: 150px;
    }

    &.btn-large {
        width: 200px;
    }
}

// Round Cornered elements

.frm-rounded-all input[type="text"], .frm-rounded-all input[type="email"], .frm-rounded-all input[type="password"], 
.frm-rounded-all textarea, .frm-rounded-all input[type="submit"], .frm-rounded-all input[type="button"],
.frm-rounded-all button, .frm-rounded-all .btn {
      @include rounded( $radius-default );
}

.frm-rounded-top input[type="text"], .frm-rounded-top input[type="email"], .frm-rounded-top input[type="password"], 
.frm-rounded-top textarea, .frm-rounded-top input[type="submit"], .frm-rounded-top input[type="button"],
.frm-rounded-top button, .frm-rounded-top .btn {
      @include rounded-top( $radius-default );
}

.frm-rounded-right input[type="text"], .frm-rounded-right input[type="email"], .frm-rounded-right input[type="password"], 
.frm-rounded-right textarea, .frm-rounded-right input[type="submit"], .frm-rounded-right input[type="button"],
.frm-rounded-right button, .frm-rounded-right .btn {
      @include rounded-right( $radius-default );
}

.frm-rounded-bottom input[type="text"], .frm-rounded-bottom input[type="email"], .frm-rounded-bottom input[type="password"], 
.frm-rounded-bottom textarea, .frm-rounded-bottom input[type="submit"], .frm-rounded-bottom input[type="button"],
.frm-rounded-bottom button, .frm-rounded-bottom .btn {
      @include rounded-bottom( $radius-default );
}

.frm-rounded-left input[type="text"], .frm-rounded-left input[type="email"], .frm-rounded-left input[type="password"], 
.frm-rounded-left textarea, .frm-rounded-left input[type="submit"], .frm-rounded-left input[type="button"],
.frm-rounded-left button, .frm-rounded-left .btn {
      @include rounded-left( $radius-default );
}