/**********************************************************************
Description: It defines the styles for the page modules. We can devide the page in one or more modules. Each module can have
background image with or without parallax, a content wrapper which wraps module header and content.
Dependencies: mixins
***********************************************************************/

// The module container
.module {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    // responsive background
    .module-bkg {
        @include bkg-with-image;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    // responsive background with parallax
    .module-bkg-parallax {
        @include bkg-with-image;
        width: 100%;
        height: 120%;
        position: absolute;
        top: -5%;
        left: 0;
        z-index: 1;
    }

    // content wrap
    .module-wrap-content {
        position: relative;
        z-index: 15;
    }

    // header
    .module-header {

    }

    // content
    .module-content {

    }
}