/*
Color Palatte:
1. primary: #1b2c46
2. primary text: #FFFFFF
3. primary light: #4671b4
4. primary text light: white
5. primary dark: black
6. primary text dark: #b3b3b3
7. secondary: #CCC
8. secondary text: #FFFFFF
9. secondary light: white
10. secondary text light: white
11. secondary dark: gray
12. secondary text dark: #b3b3b3
13. tertiary: #F55856
14. tertiary text: #FFFFFF
15. tertiary light: #fee7e6
16. tertiary text light: white
17. tertiary dark: #a80c0a
18. tertiary text dark: #b3b3b3
 */
/*! CMGTools CSS Library by CMSGears Team
 *  Version 1.0.0
 *  License - TODO
 */
/**********************************************************************
Description: The mixins used by CMGTools. It define the default classes for mixins available within CMGTools.
Dependencies: variables, variables-ext
***********************************************************************/
.clearfix, .sidebar-standard .title {
  zoom: 1;
}
.clearfix:before, .sidebar-standard .title:before, .clearfix:after, .sidebar-standard .title:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after, .sidebar-standard .title:after {
  clear: both;
}

.font-size-100 {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.opaque-25 {
  zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha( Opacity = 25 )";
  -moz-opacity: 0.25;
  -khtml-opacity: 0.25;
  filter: alpha(opacity=25);
  opacity: 0.25;
}

.opaque-50 {
  zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha( Opacity = 50 )";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.opaque-75 {
  zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha( Opacity = 75 )";
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  filter: alpha(opacity=75);
  opacity: 0.75;
}

.rounded-top {
  -moz-border-radius-top-left: 5px;
  -moz-border-radius-top-right: 5px;
  -webkit-border-radius-top-left: 5px;
  -webkit-border-radius-top-right: 5px;
  border-radius: 5px 5px 0 0;
  -khtml-border-radius-top-left: 5px;
  -khtml-border-radius-top-right: 5px;
}

.rounded-right {
  -moz-border-radius-top-right: 5px;
  -moz-border-radius-bottom-right: 5px;
  -webkit-border-radius-top-right: 5px;
  -webkit-border-radius-bottom-right: 5px;
  border-radius: 0 5px 5px 0;
  -khtml-border-radius-top-right: 5px;
  -khtml-border-radius-bottom-right: 5px;
}

.rounded-bottom {
  -moz-border-radius-bottom-left: 5px;
  -moz-border-radius-bottom-right: 5px;
  -webkit-border-radius-bottom-left: 5px;
  -webkit-border-radius-bottom-right: 5px;
  border-radius: 0 0 5px 5px;
  -khtml-border-radius-bottom-left: 5px;
  -khtml-border-radius-bottom-right: 5px;
}

.rounded-left {
  -moz-border-radius-top-left: 5px;
  -moz-border-radius-bottom-left: 5px;
  -webkit-border-radius-top-left: 5px;
  -webkit-border-radius-bottom-left: 5px;
  border-radius: 5px 5px 0 0;
  -khtml-border-radius-top-left: 5px;
  -khtml-border-radius-bottom-left: 5px;
}

.circled1 {
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  background-color: #CCC;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -khtml-border-radius: 100%;
}

.circled2 {
  width: 250px;
  height: 250px;
  background: #CCC;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.circled3 {
  width: 50%;
  height: 0;
  background-color: #CCC;
  padding-bottom: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.circled-text {
  width: 50%;
}
.circled-text:after {
  width: 100%;
  height: 0;
  background-color: #CCC;
  content: "";
  display: block;
  padding-bottom: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.circled-text div {
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: #FFFFFF;
}

.shadow {
  -webkit-box-shadow: 0 0 0.5 #CCC;
  -moz-box-shadow: 0 0 0.5 #CCC;
  box-shadow: 0 0 0.5 #CCC;
}

.linear-gradient {
  background-color: #CCC;
  background-image: -moz-linear-gradient(#1b2c46, #CCC);
  background-image: -o-linear-gradient(#1b2c46, #CCC);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1b2c46), color-stop(1, #CCC));
  background-image: -webkit-linear-gradient(#1b2c46, #CCC);
  background-image: -ms-linear-gradient(#1b2c46, #CCC);
  background-image: linear-gradient(#1b2c46, #CCC);
}

.valign-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.max-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.max-area-transparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.bkg-with-tile {
  background-repeat: repeat;
}

.bkg-with-image {
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50% 9 !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

/**********************************************************************
Description: The transition effects available in CMGTools.
Dependencies: none
***********************************************************************/
/* transit-xxx
 * 1. eio - ease-in-out
 * 2. eo - ease-out
 */
.transit-all {
  -moz-transition: all 250ms linear 0s;
  -ms-transition: all 250ms linear 0s;
  -o-transition: all 250ms linear 0s;
  -webkit-transition: all 250ms linear 0s;
  transition: all 250ms linear 0s;
}

.transit-visibility-opacity {
  -moz-transition: visibility 250ms linear 0s, opacity 250ms linear 0s;
  -ms-transition: visibility 250ms linear 0s, opacity 250ms linear 0s;
  -o-transition: visibility 250ms linear 0s, opacity 250ms linear 0s;
  -webkit-transition: visibility 250ms linear 0s, opacity 250ms linear 0s;
  transition: visibility 250ms linear 0s, opacity 250ms linear 0s;
}

.transit-color {
  -moz-transition: color 250ms linear 0s;
  -ms-transition: color 250ms linear 0s;
  -o-transition: color 250ms linear 0s;
  -webkit-transition: color 250ms linear 0s;
  transition: color 250ms linear 0s;
}

.transit-bkg-color {
  -moz-transition: background-color 250ms linear 0s;
  -ms-transition: background-color 250ms linear 0s;
  -o-transition: background-color 250ms linear 0s;
  -webkit-transition: background-color 250ms linear 0s;
  transition: background-color 250ms linear 0s;
}

.transit-color-bkg-color {
  -moz-transition: color 250ms linear 0s, background-color 250ms linear 0s;
  -ms-transition: color 250ms linear 0s, background-color 250ms linear 0s;
  -o-transition: color 250ms linear 0s, background-color 250ms linear 0s;
  -webkit-transition: color 250ms linear 0s, background-color 250ms linear 0s;
  transition: color 250ms linear 0s, background-color 250ms linear 0s;
}

.transit-padding {
  -moz-transition: padding 250ms ease-out 0s;
  -ms-transition: padding 250ms ease-out 0s;
  -o-transition: padding 250ms ease-out 0s;
  -webkit-transition: padding 250ms ease-out 0s;
  transition: padding 250ms ease-out 0s;
}

.transit-width {
  -moz-transition: width 250ms linear 0s;
  -ms-transition: width 250ms linear 0s;
  -o-transition: width 250ms linear 0s;
  -webkit-transition: width 250ms linear 0s;
  transition: width 250ms linear 0s;
}

.transit-height {
  -moz-transition: height 250ms linear 0s;
  -ms-transition: height 250ms linear 0s;
  -o-transition: height 250ms linear 0s;
  -webkit-transition: height 250ms linear 0s;
  transition: height 250ms linear 0s;
}

.transit-width-height {
  -moz-transition: width 250ms linear 0s, height 250ms linear 0s;
  -ms-transition: width 250ms linear 0s, height 250ms linear 0s;
  -o-transition: width 250ms linear 0s, height 250ms linear 0s;
  -webkit-transition: width 250ms linear 0s, height 250ms linear 0s;
  transition: width 250ms linear 0s, height 250ms linear 0s;
}

/**********************************************************************
Description: The reset CSS Inspired by Eric Meyer(http://meyerweb.com) 
and HTML5 Doctor(http://html5doctor.com) aims to make a custom reset css 
for CMGTools.
Dependencies: variables, mixins
***********************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr,
address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: middle;
  background: transparent;
}

html {
  font-family: "sans serif";
  overflow-y: scroll;
  line-height: 1;
}

code, kbd, pre, samp {
  font-family: "courier new", monospace;
  font-size: 1em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
  margin: 1em 40px;
}

blockquote:before, blockquote:after, q:before, q:after {
  quotes: none;
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 2.1 and 3 */
  word-wrap: break-word;
  /* IE */
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid #CCC;
  margin: 1em 0;
  padding: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid #CCC;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: middle;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

[hidden] {
  display: none;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

/* Basic nav for ul and ol. */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

.clickable, button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  width: auto;
  overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/**********************************************************************
Description: The basic styles for CMGTools.
Dependencies: variables, variables-ext, mixins
***********************************************************************/
.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.no-float {
  float: none;
}

.no-float-center {
  float: none;
  margin: 0 auto;
}

.align-left {
  text-align: left;
}

.align-middle {
  text-align: center;
}

.align-right {
  text-align: right;
}

.max-area-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #FFFFFF;
  z-index: 1000000;
  display: none;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.visible-space {
  visibility: visible;
}

.hidden-space {
  visibility: hidden;
}

.fluid {
  max-width: 100%;
  height: auto;
}

.width-auto {
  width: auto;
}

.warning, .error, .success {
  display: inline-block;
  width: 100%;
  font-size: 0.75em;
}

.error {
  color: red;
}

.warning {
  color: #800020;
}

.success {
  color: green;
}

.header-error {
  background-color: red;
  color: #FFFFFF;
}

.header-warning {
  background-color: #800020;
  color: #FFFFFF;
}

.header-success {
  background-color: green;
  color: #FFFFFF;
}

.texture-default {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: repeat;
}

.texture-default {
  background-image: url("../images/texture-default.png");
}

/**********************************************************************
Description: The default text elements styles for CMGTools.
Dependencies: variables, mixins
***********************************************************************/
body {
  font-family: "sans serif";
  font-size: 12px;
}
@media only screen and (min-width: 481px) {
  body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1281px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1601px) {
  body {
    font-size: 18px;
  }
}

h1 {
  font-size: 2.5em;
  -ms-text-size-adjust: 2.5em;
  -webkit-text-size-adjust: 2.5em;
}

h2 {
  font-size: 2.25em;
  -ms-text-size-adjust: 2.25em;
  -webkit-text-size-adjust: 2.25em;
}

h3 {
  font-size: 2em;
  -ms-text-size-adjust: 2em;
  -webkit-text-size-adjust: 2em;
}

h4 {
  font-size: 1.75em;
  -ms-text-size-adjust: 1.75em;
  -webkit-text-size-adjust: 1.75em;
}

h5 {
  font-size: 1.5em;
  -ms-text-size-adjust: 1.5em;
  -webkit-text-size-adjust: 1.5em;
}

h6 {
  font-size: 1.25em;
  -ms-text-size-adjust: 1.25em;
  -webkit-text-size-adjust: 1.25em;
}

h1, h2, h3, h4, h5, h6, .default-header {
  font-weight: bold;
  verticle-align: middle;
  padding: 0.25em 0;
}

p, span, em, div, a {
  font-size: 1em;
  -ms-text-size-adjust: 1em;
  -webkit-text-size-adjust: 1em;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:focus {
  outline: none;
}

a:active, a:hover {
  outline: 0;
}

/**********************************************************************
Description: It defines the grid system and basic containers for CMGTools.
Dependencies: variables, mixins
***********************************************************************/
/* Grid System ********************* */
.row {
  margin: 0 auto;
  width: 100%;
}

.col-padding {
  padding: 1%;
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col3x2, .col4x2, .col4x3, .col5x2, .col5x3, .col5x4, .col6x2, .col6x3, .col6x4, .col6x5, .col12x2, .col12x3, .col12x4, .col12x5, .col12x6, .col12x7, .col12x8, .col12x9, .col12x10, .col12x11 {
  display: block;
  float: left;
  margin: 1% 1%;
}

.col1 {
  width: 98%;
}

.col2 {
  width: 48%;
}

.col3 {
  width: 31.33333%;
}

.col4 {
  width: 23%;
}

.col5 {
  width: 18%;
}

.col6 {
  width: 14.66666%;
}

.col7 {
  width: 12.28571%;
}

.col8 {
  width: 10.5%;
}

.col9 {
  width: 9.11111%;
}

.col10 {
  width: 8%;
}

.col11 {
  width: 7.09090%;
}

.col12 {
  width: 6.33333%;
}

.col13, .col14, .col15, .col15x2, .col15x3, .col15x4, .col15x5, .col15x6, .col15x7, .col15x8, .col15x9, .col15x10, .col15x11, .col15x12, .col15x13, .col15x14 {
  display: block;
  float: left;
  margin: 0.5% 0.5%;
}

.col13 {
  width: 6.69230%;
}

.col14 {
  width: 6.14285%;
}

.col15 {
  width: 5.66666%;
}

@media only screen and (max-width: 1024px) {
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col13, .col14, .col15 {
    width: 98%;
  }
}
.col3x2 {
  width: 64.666666%;
}

.col4x2 {
  width: 48%;
}

.col4x3 {
  width: 73%;
}

.col5x2 {
  width: 38%;
}

.col5x3 {
  width: 58%;
}

.col5x4 {
  width: 78%;
}

.col6x2 {
  width: 31.33332%;
}

.col6x3 {
  width: 47.99998%;
}

.col6x4 {
  width: 64.66664%;
}

.col6x5 {
  width: 81.33330%;
}

.col12x2 {
  width: 14.66666%;
}

.col12x3 {
  width: 22.99999%;
}

.col12x4 {
  width: 31.33332%;
}

.col12x5 {
  width: 39.66665%;
}

.col12x6 {
  width: 47.99993%;
}

.col12x7 {
  width: 56.33331%;
}

.col12x8 {
  width: 64.66664%;
}

.col12x9 {
  width: 72.99997%;
}

.col12x10 {
  width: 81.33333%;
}

.col12x11 {
  width: 89.66663%;
}

.col15x2 {
  width: 12.33332%;
}

.col15x3 {
  width: 18.99998%;
}

.col15x4 {
  width: 25.66664%;
}

.col15x5 {
  width: 32.33330%;
}

.col15x6 {
  width: 38.99996%;
}

.col15x7 {
  width: 45.66662%;
}

.col15x8 {
  width: 52.33328%;
}

.col15x9 {
  width: 58.99994%;
}

.col15x10 {
  width: 65.66660%;
}

.col15x11 {
  width: 72.33326%;
}

.col15x12 {
  width: 78.99992%;
}

.col15x13 {
  width: 85.66658%;
}

.col15x14 {
  width: 92.33324%;
}

/* full width for mobile, tablet */
@media only screen and (max-width: 1024px) {
  .col3x2, .col4x2, .col4x3, .col5x2, .col5x3, .col5x4, .col6x2, .col6x3, .col6x4, .col6x5,
  .col12x2, .col12x3, .col12x4, .col12x5, .col12x6, .col12x7, .col12x8, .col12x9, .col12x10, .col12x11,
  .col15x2, .col15x3, .col15x4, .col15x5, .col15x6, .col15x7, .col15x8, .col15x9, .col15x10, .col15x11, .col15x12, .col15x13, .col15x14 {
    width: 98%;
  }
}
.colf1, .colf2, .colf3, .colf4, .colf5, .colf6, .colf7, .colf8, .colf9, .colf10, .colf11, .colf12, .colf13, .colf14, .colf15, .colf3x2, .colf4x2, .colf4x3, .colf5x2, .colf5x3, .colf5x4, .colf6x2, .colf6x3, .colf6x4, .colf6x5, .colf12x2, .colf12x3, .colf12x4, .colf12x5, .colf12x6, .colf12x7, .colf12x8, .colf12x9, .colf12x10, .colf12x11, .colf15x2, .colf15x3, .colf15x4, .colf15x5, .colf15x6, .colf15x7, .colf15x8, .colf15x9, .colf15x10, .colf15x11, .colf15x12, .colf15x13, .colf15x14 {
  display: block;
  float: left;
  margin: 0;
}

.colf1 {
  width: 100%;
}

.colf2 {
  width: 50%;
}

.colf3 {
  width: 33.33333%;
}

.colf4 {
  width: 25%;
}

.colf5 {
  width: 20%;
}

.colf6 {
  width: 16.66666%;
}

.colf7 {
  width: 14.28571%;
}

.colf8 {
  width: 12.5%;
}

.colf9 {
  width: 11.11111%;
}

.colf10 {
  width: 10%;
}

.colf11 {
  width: 9.09090%;
}

.colf12 {
  width: 8.33333%;
}

.colf13 {
  width: 7.69230%;
}

.colf14 {
  width: 7.14285%;
}

.colf15 {
  width: 6.66666%;
}

@media only screen and (max-width: 1024px) {
  .colf1, .colf2, .colf3, .colf4, .colf5, .colf6, .colf7, .colf8, .colf9, .colf10, .colf11, .colf12, .colf13, .colf14, .colf15 {
    width: 100%;
  }
}
.colf3x2 {
  width: 66.666666%;
}

.colf4x2 {
  width: 50%;
}

.colf4x3 {
  width: 75%;
}

.colf5x2 {
  width: 40%;
}

.colf5x3 {
  width: 60%;
}

.colf5x4 {
  width: 80%;
}

.colf6x2 {
  width: 33.33332%;
}

.colf6x3 {
  width: 49.99998%;
}

.colf6x4 {
  width: 66.66664%;
}

.colf6x5 {
  width: 83.33330%;
}

.colf12x2 {
  width: 16.66666%;
}

.colf12x3 {
  width: 24.99999%;
}

.colf12x4 {
  width: 33.33332%;
}

.colf12x5 {
  width: 41.66665%;
}

.colf12x6 {
  width: 49.99993%;
}

.colf12x7 {
  width: 58.33331%;
}

.colf12x8 {
  width: 66.66664%;
}

.colf12x9 {
  width: 74.99997%;
}

.colf12x10 {
  width: 83.33333%;
}

.colf12x11 {
  width: 91.66663%;
}

.colf15x2 {
  width: 13.33332%;
}

.colf15x3 {
  width: 19.99998%;
}

.colf15x4 {
  width: 26.66664%;
}

.colf15x5 {
  width: 33.33330%;
}

.colf15x6 {
  width: 39.99996%;
}

.colf15x7 {
  width: 46.66662%;
}

.colf15x8 {
  width: 53.33328%;
}

.colf15x9 {
  width: 59.99994%;
}

.colf15x10 {
  width: 66.66660%;
}

.colf15x11 {
  width: 73.33326%;
}

.colf15x12 {
  width: 79.99992%;
}

.colf15x13 {
  width: 86.66658%;
}

.colf15x14 {
  width: 93.33324%;
}

@media only screen and (max-width: 1024px) {
  .colf3x2, .colf4x2, .colf4x3, .colf5x2, .colf5x3, .colf5x4, .colf6x2, .colf6x3, .colf6x4, .colf6x5,
  .colf12x2, .colf12x3, .colf12x4, .colf12x5, .colf12x6, .colf12x7, .colf12x8, .colf12x9, .colf12x10, .colf12x11,
  .colf15x2, .colf15x3, .colf15x4, .colf15x5, .colf15x6, .colf15x7, .colf15x8, .colf15x9, .colf15x10, .colf15x11, .colf15x12, .colf15x13, .colf15x14 {
    width: 100%;
  }
}
.full-height-cols {
  position: relative;
}

.col-filler {
  position: absolute;
  z-index: -1;
  top: 0px;
  bottom: 0px;
  float: none;
}

/* These containers work considering header at top and footer at bottom whether content is there or not. The concept behind this is:
 * 1. keep body and html to 100% width and height to occupy full screen.
 * 2. The main container should also occupy full width and height.
 * 3. The header within main container can be either fixed or regular. Please refer headers section.
 * 4. The footer within main container need to be positioned with bottom 0 to stick at bottom in case enough content is not there. Please refer footers section.
 * 5. The content wrapper block can have the page content in this setup. It will adjust it's height automatically.
 */
.container-main, .wrap-content {
  position: relative;
  z-index: 1;
}

.container h1, .container h2, .container h3, .container h4, .container h5, .container h6, .content {
  padding: 1%;
}

.content-80 {
  position: relative;
  padding: 0 10%;
  width: 80%;
}

.content-74 {
  position: relative;
  padding: 0 13%;
  width: 74%;
}

.content-50 {
  position: relative;
  padding: 0 25%;
  width: 50%;
}

.content-26 {
  position: relative;
  padding: 0 37%;
  width: 26%;
}

.content-left-25 {
  position: relative;
  padding-right: 75%;
  width: 25%;
}

.content-right-25 {
  position: relative;
  padding-left: 75%;
  width: 25%;
}

/**********************************************************************
Description: It defines the styles for the menus available in CMGTools.
Dependencies: variables, mixins
***********************************************************************/
/* hnav-regular is 3 level horizontal responsive menu for ul, li and a tags and works well for all modern web browsers. 
   It need little javascript or jquery for mobile screens to expand or contract the immediate child menus for touch screens. It's best suited for header menu. */
.hnav-regular {
  background-color: #1b2c46;
  border-bottom: 5px solid #CCC;
  position: relative;
}
.hnav-regular > li {
  display: inline-block;
  text-align: left;
  background-color: #1b2c46;
  border-bottom: 5px solid #CCC;
  margin-bottom: -5px;
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  -webkit-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
}
.hnav-regular > li > a {
  color: #FFFFFF;
  font-size: 1em;
  line-height: 48px;
  padding: 0 15px;
  text-transform: uppercase;
}
.hnav-regular > li:hover > a {
  background-color: #F55856;
  color: #FFFFFF;
}
.hnav-regular li a {
  display: inline-block;
  text-decoration: none;
  -moz-transition: color 350ms ease-in-out 0s, background-color 350ms ease-in-out 0s;
  -ms-transition: color 350ms ease-in-out 0s, background-color 350ms ease-in-out 0s;
  -o-transition: color 350ms ease-in-out 0s, background-color 350ms ease-in-out 0s;
  -webkit-transition: color 350ms ease-in-out 0s, background-color 350ms ease-in-out 0s;
  transition: color 350ms ease-in-out 0s, background-color 350ms ease-in-out 0s;
}
.hnav-regular li.active > a {
  background-color: #CCC;
  color: #FFFFFF;
}
.hnav-regular li:hover .nav-sub {
  display: block;
}
.hnav-regular .nav-sub {
  display: none;
  position: absolute;
  top: 53px;
  left: 0;
  padding: 10px 2%;
  width: 96%;
  background-color: #CCC;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.hnav-regular .nav-sub > li {
  display: inline-block;
  float: none;
  padding: 10px 1%;
  vertical-align: top;
  width: 22%;
}
.hnav-regular .nav-sub > li > a {
  font-size: 1em;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.hnav-regular .nav-sub > li a {
  line-height: 20px;
  color: #b3b3b3;
}
.hnav-regular .nav-sub > li li {
  float: none;
  padding-left: 5px;
  -moz-transition: padding 250ms ease-out 0s;
  -ms-transition: padding 250ms ease-out 0s;
  -o-transition: padding 250ms ease-out 0s;
  -webkit-transition: padding 250ms ease-out 0s;
  transition: padding 250ms ease-out 0s;
}
.hnav-regular .nav-sub > li li:hover {
  padding-left: 10px;
}
@media only screen and (max-width: 1024px) {
  .hnav-regular li, .hnav-regular a {
    width: 100%;
  }
  .hnav-regular .nav-sub {
    position: relative;
    top: 0px;
  }
  .hnav-regular .nav-sub li, .hnav-regular .nav-sub a {
    width: 100%;
  }
}

/* vnav-regular is n level vertical responsive menu and best suited for sidebar menu. */
.vnav-regular {
  border: 2px solid #CCC;
  position: relative;
}
.vnav-regular li {
  text-align: left;
  border-bottom: 1px solid #CCC;
  position: relative;
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  -webkit-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
}
.vnav-regular li .last {
  border: none;
}
.vnav-regular a {
  display: block;
  background-color: #1b2c46;
  color: #FFFFFF;
  font-size: 1em;
  line-height: 35px;
  width: 98%;
  padding: 0 1%;
  text-decoration: none;
  -moz-transition: color 350ms ease-in-out 0s, background-color 350ms ease-in-out 0s;
  -ms-transition: color 350ms ease-in-out 0s, background-color 350ms ease-in-out 0s;
  -o-transition: color 350ms ease-in-out 0s, background-color 350ms ease-in-out 0s;
  -webkit-transition: color 350ms ease-in-out 0s, background-color 350ms ease-in-out 0s;
  transition: color 350ms ease-in-out 0s, background-color 350ms ease-in-out 0s;
}
.vnav-regular li:hover > a {
  background-color: #F55856;
  color: #FFFFFF;
}
.vnav-regular li:hover > .nav-sub {
  display: block;
}
.vnav-regular .nav-sub {
  display: none;
  position: absolute;
  top: -2px;
  width: 250px;
  margin-left: 100%;
  border: 2px solid #CCC;
}
@media only screen and (max-width: 1024px) {
  .vnav-regular .nav-sub {
    position: relative;
    top: 0px;
    margin-left: 0;
    width: 100%;
    border: none;
  }
  .vnav-regular .nav-sub a {
    background-color: #CCC;
  }
}

/**********************************************************************
Description: It defines the styles for the headers available in CMGTools.
Dependencies: variables, mixins
***********************************************************************/
.header-standard {
  background-color: #1b2c46;
  color: #FFFFFF;
  position: fixed;
  width: 100%;
  height: 55px;
  z-index: 10;
}
.header-standard .logo {
  cursor: pointer;
  margin: 5px;
  width: 140px;
  display: inline-block;
  position: absolute;
  z-index: 2;
}
.header-standard #menu-main {
  margin-top: 5px;
  text-align: right;
  display: block;
  z-index: 1;
}
.header-standard #btn-mobile-menu {
  position: absolute;
  right: 0px;
  cursor: pointer;
  margin: 10px;
  display: none;
  z-index: 2;
}
.header-standard #btn-mobile-menu span {
  width: 36px;
  height: 36px;
  display: block;
}
@media only screen and (max-width: 1024px) {
  .header-standard #menu-main {
    margin-top: 55px;
    display: none;
  }
  .header-standard #btn-mobile-menu {
    display: inline-block;
  }
}

/**********************************************************************
Description: It defines the styles for the sidebars available in CMGTools.
Dependencies: variables, mixins
***********************************************************************/
.sidebar-standard {
  position: relative;
}
.sidebar-standard .title {
  display: none;
  background-color: #F55856;
  line-height: 32px;
  padding: 5px;
  font-size: 16px;
}
.sidebar-standard .title span {
  float: right;
  display: inline-block;
  cursor: pointer;
}
.sidebar-standard .menu {
  display: block;
}
@media only screen and (max-width: 1024px) {
  .sidebar-standard .title {
    display: block;
  }
  .sidebar-standard .menu {
    display: none;
  }
}

/**********************************************************************
Description: It defines the styles for the footers available in CMGTools.
Dependencies: variables, mixins
***********************************************************************/
.footer-standard {
  background-color: #1b2c46;
  color: #FFFFFF;
  width: 100%;
  min-height: 50px;
  z-index: 10000;
}
.footer-standard.sticky {
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.footer-standard p {
  color: #FFFFFF;
}

/**********************************************************************
Description: It defines the default table styles available in CMGTools.
Dependencies: variables, mixins
***********************************************************************/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: middle;
}

td {
  font-weight: normal;
  vertical-align: middle;
}

/**********************************************************************
Description: It defines the form elements styles for CMGTools.
Dependencies: variables, mixins
***********************************************************************/
form {
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
form input[type="submit"] {
  margin: 10px 0;
}

.frm-small {
  width: 250px;
  position: relative;
}

.frm-medium {
  width: 450px;
  position: relative;
}

label {
  border: none;
  box-shadow: none;
  font-size: 1em;
  width: 99%;
  margin: 0.5%;
  display: inline-block;
}

input[type="text"], input[type="email"], input[type="password"], textarea, input[type="submit"], input[type="button"], button, select, .btn {
  vertical-align: middle;
  font-size: normal;
  line-height: normal;
  padding: 1%;
  margin: 0.5%;
  outline: none;
  border: 1px solid #CCC;
  box-shadow: none;
  font-size: 1em;
  line-height: 1em;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  -webkit-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
  background-color: #CCC;
  color: #FFFFFF;
  text-align: left;
  width: 97%;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input[type="text"].error-field, input[type="email"].error-field, input[type="password"].error-field, textarea.error-field, select.error-field {
  border: 1px solid red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
}

input[type="submit"], input[type="button"], button, select, .btn {
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  -webkit-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
  width: 99%;
  background-color: #1b2c46;
  color: #FFFFFF;
  text-align: center;
}

input[type="submit"]:hover, input[type="button"]:hover, button:hover, .btn:hover {
  background-color: #F55856;
  color: #FFFFFF;
  box-shadow: 0 0 5px #a80c0a;
}

.btn {
  display: inline-block;
}

input[type="submit"].btn-small, input[type="button"].btn-small, button.btn-small, .btn.btn-small {
  width: 120px;
}
input[type="submit"].btn-medium, input[type="button"].btn-medium, button.btn-medium, .btn.btn-medium {
  width: 150px;
}
input[type="submit"].btn-large, input[type="button"].btn-large, button.btn-large, .btn.btn-large {
  width: 200px;
}

.frm-rounded-all input[type="text"], .frm-rounded-all input[type="email"], .frm-rounded-all input[type="password"],
.frm-rounded-all textarea, .frm-rounded-all input[type="submit"], .frm-rounded-all input[type="button"],
.frm-rounded-all button, .frm-rounded-all .btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
}

.frm-rounded-top input[type="text"], .frm-rounded-top input[type="email"], .frm-rounded-top input[type="password"],
.frm-rounded-top textarea, .frm-rounded-top input[type="submit"], .frm-rounded-top input[type="button"],
.frm-rounded-top button, .frm-rounded-top .btn {
  -moz-border-radius-top-left: 5px;
  -moz-border-radius-top-right: 5px;
  -webkit-border-radius-top-left: 5px;
  -webkit-border-radius-top-right: 5px;
  border-radius: 5px 5px 0 0;
  -khtml-border-radius-top-left: 5px;
  -khtml-border-radius-top-right: 5px;
}

.frm-rounded-right input[type="text"], .frm-rounded-right input[type="email"], .frm-rounded-right input[type="password"],
.frm-rounded-right textarea, .frm-rounded-right input[type="submit"], .frm-rounded-right input[type="button"],
.frm-rounded-right button, .frm-rounded-right .btn {
  -moz-border-radius-top-right: 5px;
  -moz-border-radius-bottom-right: 5px;
  -webkit-border-radius-top-right: 5px;
  -webkit-border-radius-bottom-right: 5px;
  border-radius: 0 5px 5px 0;
  -khtml-border-radius-top-right: 5px;
  -khtml-border-radius-bottom-right: 5px;
}

.frm-rounded-bottom input[type="text"], .frm-rounded-bottom input[type="email"], .frm-rounded-bottom input[type="password"],
.frm-rounded-bottom textarea, .frm-rounded-bottom input[type="submit"], .frm-rounded-bottom input[type="button"],
.frm-rounded-bottom button, .frm-rounded-bottom .btn {
  -moz-border-radius-bottom-left: 5px;
  -moz-border-radius-bottom-right: 5px;
  -webkit-border-radius-bottom-left: 5px;
  -webkit-border-radius-bottom-right: 5px;
  border-radius: 0 0 5px 5px;
  -khtml-border-radius-bottom-left: 5px;
  -khtml-border-radius-bottom-right: 5px;
}

.frm-rounded-left input[type="text"], .frm-rounded-left input[type="email"], .frm-rounded-left input[type="password"],
.frm-rounded-left textarea, .frm-rounded-left input[type="submit"], .frm-rounded-left input[type="button"],
.frm-rounded-left button, .frm-rounded-left .btn {
  -moz-border-radius-top-left: 5px;
  -moz-border-radius-bottom-left: 5px;
  -webkit-border-radius-top-left: 5px;
  -webkit-border-radius-bottom-left: 5px;
  border-radius: 5px 5px 0 0;
  -khtml-border-radius-top-left: 5px;
  -khtml-border-radius-bottom-left: 5px;
}

.breadcrumb {
  list-style: none;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb a {
  display: inline-block;
}

.popup {
  display: none;
  background: #FFFFFF;
  border: 2px solid gray;
  -moz-box-shadow: 0 0 5px black;
  -webkit-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
  border-radius: 12px;
}

.popup-title {
  width: 100%;
  background-color: #00133C;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  height: 30px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.popup-title-text {
  padding-left: 10px;
}

.popup-elements {
  padding: 10px;
}

.popup-elements ul {
  padding: 0px;
}

.popup-small {
  height: 200px;
  width: 400px;
}

.popup-medium {
  height: 300px;
  width: 600px;
}

.popup-large {
  height: 400px;
  width: 800px;
}

.close-popup {
  font-size: 20px;
  right: 0px;
  top: 3px;
  position: absolute;
  color: #6fa5e2;
  font-weight: 500;
  width: 25px;
  height: 25px;
  background-image: url("../images/icons/close.png");
  background-size: cover;
}

.ui-datepicker-header {
  background-color: black;
}

.ui-datepicker-next, .ui-datepicker-prev {
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

.ui-datepicker-next {
  margin-left: 160px;
}

.ui-datepicker-title {
  color: white;
  margin-left: 75px;
  position: absolute;
  top: 5px;
}

.ui-datepicker-calendar {
  margin: 0px;
  background: gray;
  width: 100%;
}

.ui-datepicker-calendar td {
  height: 25px;
  padding: 0px 5px;
}

/**********************************************************************
Description: It defines the styles for the page modules. We can devide the page in one or more modules. Each module can have
background image with or without parallax, a content wrapper which wraps module header and content.
Dependencies: mixins
***********************************************************************/
.module {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.module .module-bkg {
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50% 9 !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.module .module-bkg-parallax {
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50% 9 !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 120%;
  position: absolute;
  top: -5%;
  left: 0;
  z-index: 1;
}
.module .module-wrap-content {
  position: relative;
  z-index: 15;
}

/**********************************************************************
Description: It defines the styles for the Blog Widget of cms module for CMSGears.
Dependencies: variables, mixins
***********************************************************************/
.blog-posts .post {
  margin: 10px 0;
  border: 1px solid #CCC;
  background-color: #1b2c46;
}
.blog-posts .banner {
  width: 20%;
  display: inline-block;
  text-align: center;
}
.blog-posts .post-content {
  width: 80%;
  display: inline-block;
}
.blog-posts .post-content.full {
  width: 100%;
}
.blog-posts .post-content .header {
  background-color: gray;
  padding: 0.25em;
}
.blog-posts .post-content .header a {
  color: #1b2c46;
}
.blog-posts .post-content .header a:hover {
  color: #CCC;
}
.blog-posts .post-content .summary {
  padding: 1em;
}
.blog-posts .post-content .info {
  background-color: #CCC;
  padding: 5px;
}
.blog-posts .post-content .info .author, .blog-posts .post-content .info .time {
  display: inline-block;
}
.blog-posts .post-content .info .author {
  float: left;
}
.blog-posts .post-content .info .author img {
  width: 40px;
  border: 5px solid #1b2c46;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
}
.blog-posts .post-content .info .time {
  float: right;
  margin-top: 15px;
}
.blog-posts .wrap-pagination {
  margin: 10px 0;
}
.blog-posts .wrap-pagination .info {
  float: left;
}
.blog-posts .wrap-pagination .pagination {
  float: right;
}
.blog-posts .wrap-pagination .pagination, .blog-posts .wrap-pagination .pagination li {
  display: inline-block;
  list-style: none;
}
.blog-posts .wrap-pagination .pagination li {
  margin: 0 2px;
  font-size: 1em;
  line-heigh: 1em;
}
.blog-posts .wrap-pagination .pagination .prev, .blog-posts .wrap-pagination .pagination .next, .blog-posts .wrap-pagination .pagination li a {
  color: #1b2c46;
  text-decoration: none;
  height: 1.6em;
  background-color: gray;
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  -webkit-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
}
.blog-posts .wrap-pagination .pagination li a {
  padding: 2px 8px;
}
.blog-posts .wrap-pagination .pagination .disabled span, .blog-posts .wrap-pagination .pagination .disabled span:hover {
  background-color: #CCC;
  padding: 2px 8px;
  height: 1.6em;
}
.blog-posts .wrap-pagination .pagination .disabled span {
  line-height: 1.6em;
}
.blog-posts .wrap-pagination .pagination .active, .blog-posts .wrap-pagination .pagination .active a, .blog-posts .wrap-pagination .pagination li a:hover, .blog-posts .wrap-pagination .pagination .next:hover, .blog-posts .wrap-pagination .pagination .prev:hover {
  background-color: #CCC;
  color: #1b2c46;
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  -webkit-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
}

/**********************************************************************
Description: It defines the styles for the FoxSlider Widget for CMSGears.
Dependencies: variables, variables-ext, mixins
***********************************************************************/
.fx-slider {
  position: relative;
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
  height: 100%;
  /* Slide Background Image */
  /* Slider Controls */
  /* Slider Bullets */
}
.fx-slider .fx-slides-wrap {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}
.fx-slider .fx-slide, .fx-slider .slide-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.fx-slider .slide-content {
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50% 9 !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.fx-slider .slide-content .texture-default {
  z-index: 2;
}
.fx-slider .slide-content .content {
  width: 75%;
  color: #1b2c46;
  font-family: "sans serif";
  font-size: 1.5em;
  text-shadow: 0px 3px 4px gray;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 50px;
  position: relative;
  z-index: 4;
  margin: 0px auto;
}
.fx-slider .fx-slider-control {
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  height: 80px;
  width: 48px;
  position: relative;
  z-index: 50;
  top: 45%;
  background-image: url("../images/slider-arrow.png");
  background-repeat: none;
  background-position: 0px 0px;
}
.fx-slider .fx-slider-control-left {
  float: left;
  left: 20px;
  background-position: 0px 80px;
}
.fx-slider .fx-slider-control-left:hover {
  background-position: 0px 0px;
}
.fx-slider .fx-slider-control-right {
  float: right;
  right: 20px;
  background-position: -48px 80px;
}
.fx-slider .fx-slider-control-right:hover {
  background-position: -48px 0px;
}
.fx-slider .fx-slider-bullets {
  position: absolute;
  bottom: 70px;
  width: 100%;
  height: 30px;
  text-align: center;
  z-index: 15;
}
.fx-slider .fx-slider-bullet {
  width: 16px;
  height: 16px;
  color: white;
  border-radius: 9px;
  font-size: 12px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 3px;
  display: inline-block;
  background-image: url("../images/slider-bullet.png");
  background-position: -16px 0px;
}
.fx-slider .fx-slider-bullet:hover {
  background-position: 0px 0px;
}
.fx-slider .fx-slider-bullet.active {
  background-position: 0px 0px;
}

/* ** Recaptcha responsive fix ********************************* */
#recaptcha_widget_div {
  margin: 1%;
}

@media only screen and (max-width: 480px) {
  #recaptcha_challenge_image {
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
  }

  #recaptcha_response_field {
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
  }

  .recaptchatable #recaptcha_image {
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
  }

  .recaptchatable .recaptcha_r1_c1,
  .recaptchatable .recaptcha_r3_c1,
  .recaptchatable .recaptcha_r3_c2,
  .recaptchatable .recaptcha_r7_c1,
  .recaptchatable .recaptcha_r8_c1,
  .recaptchatable .recaptcha_r3_c3,
  .recaptchatable .recaptcha_r2_c1,
  .recaptchatable .recaptcha_r4_c1,
  .recaptchatable .recaptcha_r4_c2,
  .recaptchatable .recaptcha_r4_c4,
  .recaptchatable .recaptcha_image_cell {
    margin: 0 !important;
    width: 100% !important;
    background: none !important;
    height: auto !important;
  }

  #recaptcha_area, #recaptcha_table {
    margin-left: -125px;
  }
}

/*# sourceMappingURL=cmgtools.css.map */
