.fx-slider-regular {

	.control {
		background-image: none;
	}
}

#slider-main {

	.fx-slider-regular {

		.slide {
			position: absolute;
			top: 0;
			left: 0;
		}

		.slides-wrap {

			.slide {

				.wrap-slide-content {

					.slide-content {
						display: none;
					}
				}
			}
		}

		.control {

			&.control-left {
				left: 5%;
				background: none;
			}

			&.control-right {
				right: 5%;
				background: none;
			}
		}

		.bullets {

			.bullet {
				background: transparent;
			}
		}
	}
}
