input[type="text"], input[type="email"], input[type="password"], textarea, select {
    padding: 0.75em;
    //color: $color-purple;
}  

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
        box-shadow: none;
        background-color: transparent;             
        color: $color-blue;   
        @include shadow-inset( 0px, 0px, 1px, $color-border, 0px );
}

.frm-icon-element {

    .icon, .cmti {
        color: $color-gray;
        padding: 0.75em;
    }
    
    input[type="text"], input[type="email"], input[type="password"], textarea, select {
        padding-left: 2.25em;
    }  
}