input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
        box-shadow: none;
        background-color: $color-primary;
}

.frm-icon-element {

    .icon, .cmti {
        color: $color-gray-d;
    }
}