.form {

	.intl-tel-input {
		width: 100%;

		input[type='text'] {
			width: 100%;
		}

		.intl-tel-field {
			padding-left: 94px !important;
		}

		.iti-arrow {
			display: none;
		}
	}
}

.frm-split-40-60 {

	.intl-tel-input {
		width: 60%;

		input[type='text'] {
			width: 100%;
		}
	}
}
