$color-primary: #f2f1f0;
$color-primary-l: white;
$color-primary-d: #td;
$color-primary-text: #363636;
$color-primary-text-l: #363636;
$color-primary-text-d: #td;
$color-secondary: #1d2228;
$color-secondary-l: #td;
$color-secondary-d: #td;
$color-secondary-text: #98a2ad;
$color-secondary-text-l: #td;
$color-secondary-text-d: #td;
$color-tertiary: #3e4756;
$color-tertiary-l: #td;
$color-tertiary-d: #td;
$color-tertiary-text: #e6e6e6;
$color-tertiary-text-l: #td;
$color-tertiary-text-d: #td;

// Form Fields Color
// 1. forms - fields
$color-field: #e1e1e1;
$color-field-text: #363636;
// Buttons Color
// 1. forms - buttons
$color-button: #e74343;
$color-button-text: white;
// Buttons Hover Color
// 1. forms - buttons
$color-button-h: #363636;
$color-button-h-text: #949ea8;