$color-primary: #f2f2f2;
$color-primary-l: white;

$color-primary-text: #363636;
$color-primary-text-l: #363636;

$color-secondary: #1e2328;
$color-secondary-l: #cfe1f4;
$color-secondary-d: #475461;

$color-secondary-text: #e6e6e6;
$color-secondary-text-l: #98a2ad;
$color-secondary-text-d: #e74343;

$color-tertiary: #3c4655;

$color-tertiary-text: #e6e6e6;


$color-field: #e1e1e1;
$color-field-text: #363636;

$color-button: #e74343;
$color-button-text: white;
$color-button-h: #FF3636;
$color-button-h-text: #ffffff;