$color-primary: #f2f2f2;
$color-primary-l: white;
$color-primary-d: #td;
$color-primary-text: #363636;
$color-primary-text-l: #363636;
$color-primary-text-d: #td;
$color-secondary: #1e2328;
$color-secondary-l: #46535f;
$color-secondary-d: #td;
$color-secondary-text: #98a2ad;
$color-secondary-text-l: #td;
$color-secondary-text-d: #td;
$color-tertiary: #3c4655;
$color-tertiary-l: #td;
$color-tertiary-d: #td;
$color-tertiary-text: #e6e6e6;
$color-tertiary-text-l: #td;
$color-tertiary-text-d: #td;

$color-transparent-primary: rgba(242, 242, 242, 0.6);
$color-transparent-secondary: rgba(30, 35, 40, 0.6);
$color-transparent-tertiary: rgba(60, 70, 85, 0.6);

// Form Fields Color
// 1. forms - fields
$color-field: #e1e1e1;
$color-field-text: #363636;
// Buttons Color
// 1. forms - buttons
$color-button: #e74343;
$color-button-text: white;
// Buttons Hover Color
// 1. forms - buttons
$color-button-h: #363636;
$color-button-h-text: #949ea8;